VITE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/export?format=csv&gid=0
VITE_PERFORMANCE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/YOUR_PERFORMANCE_SHEET_ID/export?format=csv&gid=0
VITE_PHONE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/YOUR_PHONE_SHEET_ID/export?format=csv&gid=0
VITE_ADMIN_EMAIL=admin@gmail.com
VITE_ADMIN_PASSWORD=doi-mat-khau-nay
VITE_ADMIN_PHONE=0866926056
VITE_ADMIN_TELEGRAM=your_telegram_username
VITE_ADMIN_ZALO=0900000000
VITE_ADMIN_FACEBOOK=https://facebook.com/your.profile
VITE_FIREBASE_API_KEY="AIzaSyCbu5vbXsWjkE48InCFHwG1uX6bsCrYX20"
VITE_FIREBASE_AUTH_DOMAIN="dashboard-623f1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="dashboard-623f1"
VITE_FIREBASE_STORAGE_BUCKET="dashboard-623f1.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="135241579632"
VITE_FIREBASE_APP_ID="1:135241579632:web:bbc175c042a2ba568648b5"
