VITE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/export?format=csv&gid=0
VITE_ADMIN_EMAIL=admin@gmail.com
VITE_ADMIN_PASSWORD=doi-mat-khau-nay
VITE_ADMIN_PHONE=0866926056
VITE_ADMIN_TELEGRAM=your_telegram_username
VITE_ADMIN_ZALO=0900000000
VITE_ADMIN_FACEBOOK=https://facebook.com/your.profile
